<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
    </div>
    © {{ site.time | date: "%Y"}} くもキャスト
  </div>
</footer>
