<footer>
  <div class="container-fluid">
    <!--
    <div class="row">
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
      <div class="col-xs-4">
        <h4>くもキャスト</h4>
        <p>
          {{ site.description }}
        </p>
      </div>
    </div>
  -->
    <p class="copyright">
      Copyright © {{site.time | date: "%Y" }} <a href="https://github.com/MokumokuCloud">もくもく.cloud</a> All Rights Reserved.
    </p>
  </div>
</footer>
