<header>
  <div class="container-fluid">
    <h1 class="site-title">
      <a class="site-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <p class="site-desc">
      {{ site.description }}
    </p>
    <nav class="site-nav">
      <ul class="list-inline">
        <li>
          <a href="/about"><i class="fa fa-info-circle"></i> About</a>
        </li>
        <li>
          <a href="https://twitter.com/kumocast"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
        <li>
          <a href="https://github.com/kumocast/kumocast.github.io"><i class="fa fa-github"></i> GitHub</a>
        </li>
        <li>
          <a href="https://itunes.apple.com/jp/podcast/kumokyasuto/id981382461"><i class="fa fa-apple"></i> iTunes</a>
        </li>
        <li>
          <a href="http://feeds.feedburner.com/tumblr/IkZP"><i class="fa fa-rss"></i> RSS</a>
        </li>
        {% comment %}
        <li>
          <a href="/feedback"><i class="fa fa-envelope"></i> フィードバック</a>
        </li>
        {% endcomment %}
      </ul>
    </nav>
  </div>
</header>
