footer {
  background: #001f3f;
  color: #7fbfff;
  padding: $md-margin 0;

  a {
    color: #4ca6ff;

    &:visited {
      color: #2a95ff;
    }
  }
}

.copyright {
  text-align: center;
  margin: 0;
}
