.post-list {
  list-style: none;
  margin: 0;

  .post {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: $lg-margin;

    &:first-child {
      border: none;
    }
  }
}

.post-number {
  color: $brand-color;
  font-size: 28px;
  font-weight: bold;
}

.post-number a {
  &:visited {
    color: $brand-color;
  }
}

@media (min-width: 768px) {
  .post-number {
    text-align: right;
  }
}

.post-title {
  color: $brand-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}

.post-title a {
  &:visited {
    color: $brand-color;
  }
}

.post-excerpt, .post-content {
  font-size: 15px;
  color: #555;
  margin-bottom: $md-margin;
}

.post-meta {
  color: #555;
  font-size: 14px;
  margin-bottom: $md-margin;
}

.post-date-title, .post-duration-title {
  font-weight: bold;
}

.home-members {
  display: flex;
}

.home-member-icon {
  border-radius: 999rem;
  height: 40px;
  width: 40px;

  &:not(:last-child) {
    margin-right: $sm-margin;
  }
}
