.post {
  h3 {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: $sm-margin;
  }

  p {
    margin-bottom: $md-margin;
  }
}

.member-img {
  border-radius: 80px;
}

.post-shownotes {
  ul {
    margin-left: 20px;
  }

  li {
    font-size: 15px;
  }
}
