---
layout: default
---
<div class="post">
  <div class="row">
    <div class="post-number col-xs-12 col-sm-1">
      {{ page.number }}
    </div>
    <div class="col-xs-12 col-sm-11">
      <h2 class="post-title">
        {{ page.title }}
      </h2>
      <audio style="width: 100%" src="{{ page.audio }}" controls>
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <ul class="list-inline post-meta">
        <li class="post-date">
          <span class="post-date-title">投稿日：</span>
          <span>{{ page.date | date: "%Y年%-m月%-d日" }}</span>
        </li>
        <li class="post-duration">
          <span class="post-duration-title">時間：</span>
          <span>{{ page.duration }}</span>
        </li>
      </ul>
      <ul class="list-inline">
        <li>
          <!-- Twitter -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="kumocast">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <!-- end Twitter -->
        </li>
        <li>
          <!-- HatenaBookmark -->
          <a href="http://b.hatena.ne.jp/entry/{{ site.url  }}{{ page.url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }}" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          <!-- end HatenaBookmark -->
        </li>
      </ul>
      <p class="post-excerpt">
        {{ page.description }}
      </p>
      {% if page.image %}
        <div class="post-image">
          <img src="{{ page.image }}" />
        </div>
      {% endif %}
      <div class="post-members">
        <h3 class="post-member">出演者</h3>
        <ul class="list-inline">
          {% for member in page.members %}
            <li>
              <a href="//twitter.com/{{ member }}">
                <img class="member-img" src="{{ site.members[member].icon }}">
                <p>
                  {{ member }}
                </p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="post-shownotes">
        {{ page.content | markdownify }}
      </div>
    </div>
  </div>
  {% comment %}
  {% include notice.html %}
  {% endcomment %}
</div>
